
:root {
  --black: #000;
  --white: #fff;

  --blue: #607f93;
  --lightBlue: #5c99c1;
  --lightBlush: #ded5c6;
  --blush: #dfcbba;
  --purple: #937aa1;
  --lightGreen: #1ebcb4;
  --green: #4aded6;

}