.content__container {
    padding: var(--global-padding) 0;

    h2 {
        color: var(--purple);
        padding: 0 var(--global-padding);
    }

    .article__sidebar--toggle {
        display: none;
    }

    .articles {
        article {
            color: var(--black);
            display: flex;
            justify-content: space-between;

            .article__body {
                background: var(--white);
                padding: var(--global-padding);
                transition: width 0.3s;
                width: 80%;

                @media screen and (max-width: $break-medium) {
                    width: 100%;
                }

                address {
                    p {
                        margin-bottom: 5px;
                    }

                    .profile__container {
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;
    
                        .profile {
                            display: flex;
                            justify-content: space-between;
                            align-items: baseline;
    
                        }
    
                        .profilePicture {
                            border-radius: 50%;
                        }
                    }
                }

                .heading {
                    margin-bottom: 10px;
                }

                .headerImg {
                    width: 100%;
                }
            }

            .article__sidebar {
                background: var(--lightBlue);
                padding: var(--global-padding);
                transition: width 0.3s;
                width: 20%;

                a:after {
                    border-color: var(--black);
                }

                @media screen and (max-width: $break-medium) {
                    display: none;
                }

                h4 {
                    text-align: center
                }
            }
        }
    }
}

@media screen and (max-width: $break-medium) {

    .content__container {

        .article__sidebar--toggle {
            display: block;
        }
    
        article.showSidebar-mobile {

            .article__body {
                width: 70%;
            }

            .article__sidebar {
                width: 30%;
                display: block;
            }
        
        }

    }

}