
a.button,
button {
    @extend .noLinkStyle;
    padding: 10px 20px;
    background: var(--lightBlue);
    transition: background-color 0.25s;
    color: var(--white);
    font-weight: bold;
    border: 4px var(--purple) solid;
    cursor: pointer;

    &:hover {
        background: var(--blue);
    }

    @media screen and (max-width: $break-medium) {
        text-align: center;
    }
}

a.button.button--green {
    color: var(--black);
    background: var(--lightGreen);

    &:hover {
        background: var(--green);
    }
}